<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1 class="">Home page content</h1>
    <header class="">
        <div class="">SiteName</div>
        <div class="">
            <ul>
                <li class="">home</li>
                <li class="">use</li>
            </ul>
        </div>
    </header>
</body>
</html>